@using FeriaVirtual.Negocio;

<!-- Agrega las metaetiquetas para hacer que la página sea responsive -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
    body {
        font-family: Arial, sans-serif;
    }

    /* Estilo para la tabla */
    .table-container {
        background-color: white; /* Fondo blanco para la tabla */
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }
</style>

<div style="position: absolute; top: 60px; left: 10px;">
    <a href="@Url.Action("Index", "home")" class="btn btn-sm btn-transparent" style="border: 1px solid;">Volver</a>
</div>

@{
    ViewBag.Title = "Listado de Contratos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2 class="mt-4">Listado de Contratos</h2>

    @{
        List<Contratos> contratos = (List<Contratos>)ViewBag.Contratos;
    }

    <div class="table-container">
        <div class="table-responsive">
            <table class="table table-striped mt-3">
                <thead class="bg-dark text-white">
                    <tr>
                        <th>Fecha de Inicio</th>
                        <th>Fecha de Finalización</th>
                        <th>Tipo de Contrato</th>
                        <th>Estado de Contrato</th>
                        <th>Demanda</th>
                        <th>Cantidad</th>
                        <th>Usuario ID</th>
                        <th>Publicado</th>
                        <th>Gestionar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var contrato in contratos)
                    {
                    <tr>
                        <td>@contrato.Fechainicio</td>
                        <td>@contrato.Fechafinalizacion</td>
                        <td>@contrato.Tipocontrato</td>
                        <td>
                            @if (contrato.Estadocontratoid == 1)
                            {
                                <span class="badge badge-success">Vigente</span>
                            }
                            else if (contrato.Estadocontratoid == 2)
                            {
                                <span class="badge badge-warning">Completado</span>
                            }
                            else if (contrato.Estadocontratoid == 3)
                            {
                                <span class="badge badge-danger">Terminado</span>
                            }
                            else if (contrato.Estadocontratoid == 0)
                            {
                                <span class="badge badge-danger">Vencido</span>
                            }
                            else if (contrato.Estadocontratoid == 4)
                            {
                                <span class="badge badge-danger">Pendiente</span>
                            }
                            else
                            {
                                <span class="badge badge-secondary">Desconocido</span>
                            }
                        </td>
                        <td>@contrato.Demanda</td>
                        <td>@contrato.Cantidad</td>
                        <td>@contrato.Usuarioid</td>
                        <td>@contrato.Published</td>
                        <td>
                            @Html.ActionLink("Postular", "Create", "Postulacion", new { contratoid = contrato.Contratoid }, new { @class = "postular-button" })
                        </td>

                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


@if (TempData["ContratoAgregado"] != null)
{
    <div class="alert alert-success">
        @TempData["ContratoAgregado"]
    </div>
}
@if (TempData["ContratoEliminado"] != null)
{
    <div class="alert alert-danger">
        @TempData["ContratoEliminado"]
    </div>
}
